body {
    background-color: pink;
    text-align: center;
}
header{
    font-size: 40px;
    text-align: center;
    color: white;
}
header:hover {
    color: black;
}
.first-para {
    color: white;
    text-align: center;
}
li {
    color: black;
    width: 40%;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
}
img {
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.last-para {
    width: 30%;
    text-align: center;
    font-size: 45px;
    margin-left: auto;
    margin-right: auto;
    color: white;
}
footer {
    width: 25%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}